.firstCard {
  background-color: #364f6b;
  height: 400px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

@media (max-width: 1200px) {
  .firstCard {
    margin: 15px;
    padding: 50px;
  }
}

.actualWeatherr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentTempIcon {
  width: 30px;
  margin-left: 5px;
}

.infoParass {
  margin: 5px;
}

.conditionTitle {
  text-align: center;
  margin-bottom: 0px;
}

.conditon {
  margin-top: 0px;
}

.update {
  color: yellow;
}

.todaysWeatherHeading {
  margin-top: 0px;
  color: #ffc436;
}
