.main-div{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.weeklyCards {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
}

