.eventplannerComponent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../images/eventplannerBg.jpg");
  background-size: cover;
}

.todaysInfo {
  display: flex;
  justify-content: space-around;
  width: 95vw;
  align-items: center;
  min-height: 65vh;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 0px;
}

.secHeading {
  font-family: Copperplate, Papyrus, fantasy;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 20px;
  color: yellow;
}

.weeklyInfo {
  display: flex;
  min-height: 30vh;
  flex-wrap: wrap;
  width: 100%;
}

.actualWeather {
  background-color: #364f6b;
  min-height: 400px;
  min-width: 30vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.custInst{
  font-size: 20px;
}

.currentTempIcon {
  width: 30px;
  margin-left: 5px;
}

.infoParas {
  margin: 8px;
}

.instructionsCard {
  background-color: #364f6b;
  min-height: 400px;
  min-width: 30vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  .actualWeather{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin: 20px;
    text-align: center;
  }
  .instructionsCard{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: auto;
    text-align: center;
  }
  
}