.searchComponent {
  background-color: #364f6b;
  height: 400px;
  width: 20vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.homeLink {
  color: yellow;
}

.desDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.desImg {
  width: 80%;
  border-radius: 12px;
}

.cityInput {
  height: 28px;
  width: 200px;
  padding: 0px 4px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.forcastBtn {
  border: none;
  outline: none;
  background-color: #3fc1c9;
  color: white;
  padding: 5px 12px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.searchHeading {
  margin-top: 0px;
  color: #ffc436;
}

@media (max-width: 1200px){
  .searchComponent{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    text-align: center;
    margin: 20px;
  }
}