.farmerComponent {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../../../images/farming-land.jpg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Garamond, serif;
  align-items: center;
}

.farmersHeading {
  margin-top: 80px;
}

.inputsDiv {
  display: flex;
  align-items: center;
}

.inputBox {
  height: 25px;
  width: 190px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.dateBox {
  height: 28px;
}

.inputLabel {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.forcastBtn {
  height: 28px;
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}
