.farmerComponent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../images/farmerBg.jpeg");
  background-size: cover;
}

